body {
    background:#cfcfcf;
}

#PRODUCT_PAGE {
    max-width: 1000px;
    margin: auto;
    display:flex;

    > div {
        padding: 16px;
    }

    #filters {
        width: 25%;
        background:#efefef;

        label {
            display:block;
            padding: 8px 0px;

            input {
                float:right;
            }
        }
    }

    #products {
        width: 75%;
        background:#fff;
    }
}

#x-product-list-container {
    display:flex;
    flex-wrap: wrap;

    .product_data {
        flex: 33%;
        margin-bottom: 64px;
    }
}

.product_data {
    position: relative;

    .product_section_icons {
        position: absolute;
        left:-16px;
        top:-16px;
        display:flex;
        flex-direction: column;
        background:rgba(255, 255, 255, 0.9);
        border:2px red solid;
        padding: 8px;

        img {
            margin-bottom: 4px;
        }
    }
}