doctype html
html
    head
        title JSON Example
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.min.js")
        script(src="js/bundle.js")
    body
        section#PRODUCT_PAGE
            #filters
                h2 Filters List
                div
                    each filter in filters
                        label #{filter.label}
                            input(type="radio", name="p_filter", value=filter.value)
                button#load-products Load More Products
            #products
                h2 Product List
                #x-product-list-container
        include product-template.html