<!-- Product Template -->
<script type="text/x-handlebars-template", id="x-product-template">
    {{#each products}}
        <div class="product_data">
            <div class="product_image">
                <img src="{{ thumbnail }}" />
            </div>
    
            <div class="product_details">
                <h3>{{ sku }}</h3>
                <p>{{ description }}</p>
            </div>
    
            <div class="product_prices">
                <div class="price price_was">{{ prices.price_was }}</div>
                <div class="price price_now">{{ prices.price_now }}</div>
            </div>
    
            {{#if section_icons.length}}
                <div class="product_section_icons">
                    {{#each section_icons}}
                        <img src="{{ icon }}" alt="{{ alt }}" />
                    {{/each}}
                </div>
            {{/if}}
        </div>
    {{/each}}
</script>